<div class="modal-header">
  <h4 class="modal-title">
    <i class="fas fa-pencil-alt"></i> Dicionário
  </h4>
  <button 
    type="button" 
    class="close" 
    aria-label="Close" 
    (click)="closeModal()">
    
    <span 
      aria-hidden="true">
      &times;
    </span>
  </button>
</div>

<div class="modal-body">
  <div class="form-group">
    <label for="titulo">Título</label>
    <input type="text" id="titulo" class="form-control" value="Dicionário Join RH" />
  </div>

  <div class="color-option" *ngFor="let color of colors">
    <div class="color-box" [style.background]="color.value"></div>
    <span>{{ color.label }}</span>
  </div>

  <div class="text-center">
    <button class="btn btn-primary salvar-btn">Salvar</button>
  </div>
</div>
