<div class="modal-header">
  <h4 class="modal-title">
    <i class="fas fa-pencil-alt"></i> {{ titulo }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form (ngSubmit)="salvar()" #palavraForm="ngForm">
    <div class="form-group">
        <label for="word">Palavra</label>
        <input
        type="text"
        id="word"
        name="word"
        class="form-control"
        [(ngModel)]="palavra.word"
        placeholder="Digite a palavra"
        required
        />
    </div>

    <div class="form-group">
        <label for="definition">Definição</label>
        <input
        type="text"
        id="definition"
        name="definition"
        class="form-control"
        [(ngModel)]="palavra.definition"
        placeholder="Digite a definição"
        required
        />
    </div>

    <div class="form-group">
        <label for="definitionExtra">Definição extra</label>
        <textarea
        id="definitionExtra"
        name="definitionExtra"
        class="editor-textarea"
        placeholder="Digite a definição extra"
        [(ngModel)]="palavra.definitionExtra"
        ></textarea>
    </div>

    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary salvar-btn"
        [disabled]="palavraForm.invalid"
        >
        {{ textoBotao }}
        </button>
    </div>
  </form>
</div>
