<body>
  <div class="topMenu">
    <button>
      Dicionario
      <i class="fas fa-plus"></i>
    </button>
    <button>
      <i class="fas fa-question-circle"></i> 
      Ajuda
    </button>
  </div>

  <div class="content">
    <table>
      <tbody>
        <tr>
          <td>Dicionario Join RH</td>
          <td colspan="4">
            <div class="buttons">
              <app-icon-button icon="fas fa-search" class="lupa"></app-icon-button>

              <div class="btn-group">
                <app-icon-button label="abc"></app-icon-button>
                <app-icon-button icon="fas fa-cog"></app-icon-button>
                <app-icon-button icon="fas fa-times"></app-icon-button>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>Dicionario RH</td>
          <td colspan="4">
            <div class="buttons">
              <app-icon-button icon="fas fa-search" class="lupa"></app-icon-button>

              <div class="btn-group">
                <app-icon-button label="abc"></app-icon-button>
                <app-icon-button icon="fas fa-cog"></app-icon-button>
                <app-icon-button icon="fas fa-times"></app-icon-button>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>Dicionario Geral</td>
          <td colspan="4">
            <div class="buttons">
              <app-icon-button icon="fas fa-search" class="lupa"></app-icon-button>

              <div class="btn-group">
                <app-icon-button label="abc"></app-icon-button>
                <app-icon-button icon="fas fa-cog"></app-icon-button>
                <app-icon-button icon="fas fa-times"></app-icon-button>
              </div>
            </div>
          </td>
        </tr>
        <div class="newDictionary">
          <app-icon-button icon="fas fa-plus" class="BtnNewDictionary"></app-icon-button>
        </div>
      </tbody>
    </table>
  </div>
</body>
