<div class="topMenu">
  <button (click)="openModalNovoDicionario()">
    Dicionario
    <i class="fas fa-plus"></i>
  </button>

  <button>
    <i class="fas fa-question-circle"></i> 
    Ajuda
  </button>
</div>

<div class="content">
  <table>
    <tbody>
      <tr *ngFor="let dicionario of dicionarios">
        <td>{{ dicionario.name }}</td>

        <td colspan="4">
          <div class="buttons">
            <app-icon-button 
              icon="fas fa-search" 
              class="lupa"
              (clicked)="openPalavra(dicionario.id)">
            </app-icon-button>

            <div class="btn-group">
              <app-icon-button
                label="abc" 
                (clicked)="openModalAdicionarPalavra(dicionario.id)">
              </app-icon-button>

              <app-icon-button
                icon="fas fa-cog"
                (clicked)="openModal(dicionario.id)">
              </app-icon-button>

              <app-icon-button
                icon="fas fa-times"
                (clicked)="deletarDicionario(dicionario.id)">
              </app-icon-button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

    <div class="BtnNewDictionary">
      <app-icon-button 
        icon="fas fa-plus" 
        (click)="openModalNovoDicionario()"
      >
      </app-icon-button>
    </div>
  </table>
</div>
